.banner {
	@extend .cf;
	padding: 16px 20px;
	background: $darkest-grey;
}
.banner--logo {
	float: left;
	color: #FFF;
	font-weight: bold;
	@include font-size($base-font-size + 2);
	&:hover {
		color: #FFF;
	}
}
.banner--nav {
	float: right;
}

.logo {

}
.logo--many {
	font-weight: normal;
}
.logo--quotes {
	font-weight: bold;
}