//
// Links
//

// Regular, everyday, normal links
a {
	color: $link-colour;
	text-decoration: none;
	transition: color .2s linear;
	&:hover,
	&:active {
		color: $link-hover-colour;
		//text-decoration: underline;
	}
}

// CTA links
.cta-link,
.lm-cta-link {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	@include font-size($base-font-size - 2);
	color: $text-colour;
	&:hover {
		color: $brand-colour;
	}
}

// Image links
a.img-link {
	&:hover {
		opacity: 0.8;
	}
}